<div class="flex ve-window min-h-0 h-100 relative">
	<div class="flex-col h-100 imp-wiz__panel-1 no-shrink no-grow" data-panel="1"></div>
	<div class="no-shrink imp-wiz__spc-panels mx-2"></div>
	<div class="flex-col flex-3 h-100" data-panel="2"></div>
	<div class="no-shrink imp-wiz__spc-panels mx-2"></div>
	<div class="flex-col flex-2 h-100" data-panel="3"></div>
</div>
