<div class="flex-col h-100 ve-window min-h-0">
	<div class="veapp__task-progress-outer no-shrink w-100 mb-1">
		<div data-name="disp-progress" class="veapp__task-progress-inner"></div>
	</div>

	<div data-name="wrp-console" class="imp__task-console h-100 mb-1"></div>

	<div class="no-shrink">
		<button class="btn-5et" name="btn-cancel">Cancel</button>
	</div>
</div>
